.conteudo-login p,
a {
  color: var(--color-principal);
}

.conteudo-login a {
  font-size: 22px;
  cursor: pointer;
}

.conteudo-login {
  display: block;
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  background-color: var(--bg-input);
  padding: 120px 60px;
  border-radius: 6px;
  margin-top: 120px;
  margin-bottom: 60px;
}

#conta-apple,
#conta-google,
#conta-face {
  background-color: #121111;
  color: var(--color-principal);
  padding: 10px 0px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#conta-google {
  background-color: #d9d9d9;
}

#conta-google a {
  color: #000;
}

#conta-face {
  background-color: #202449;
}

.contas {
  display: grid;
  align-items: center;
  gap: 10px;
  padding: 26px 0 16px 0;
}

.form-login {
  display: grid;
  gap: 12px;
  padding-bottom: 14px;
}

.form-login label {
  color: #302b2b;
  display: block;
  color: #d9d9d9;
  text-align: left;
  margin-left: 60px;
}

.form-conta input[type="email"],
[type="password"] {
  width: 80%;
}

.form-conta input {
  border: none;
  border-bottom: 1px solid #bbb1b1;
  background-color: #212820;
  padding: 6px 0;
}

.form-conta input:focus {
  outline: none;
  border-bottom: 1px solid #fff;
  color: var(--color-principal);
}

#senhaperdida {
  padding-bottom: 20px;
  text-align: left;
  margin-left: 60px;
  color: #e5e3e3;
  display: block;
  max-width: max-content;
  font-size: 22px;
}

#senhaperdida:hover {
  color: #bbb7b7;
}

#btn-l {
  padding: 6px 4px;
  background-color: #030403;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#btn-l:hover {
  background-color: #0c0f0c;
}

span {
  font-size: 28px;
  color: var(--color-principal);
}

@media (max-width: 450px) {
  #conta-face a,
  #conta-apple a,
  #conta-google a {
    font-size: 16px;
  }

  .form-login label,
  #senhaperdida {
    margin-left: 34px;
  }
}
