.missaoEvissao {
  background-color: var(--bg-text-titulos);
  padding: 100px 80px;
  color: var(--color-principal);
}

.missaoEvissao .font-1-xxl {
  max-width: 8ch;
  font-size: 5rem;
  color: var(--color-segundario);
}

.missaoEvissao > .font-2-l {
  max-width: 68ch;
}

.container-somos {
  gap: 60px;
  padding: 120px 80px;
}

.text-somos {
  display: grid;
  max-width: 800px;
}

.text-somos h2 {
  color: var(--color-principal);
}

.text-somos p,
li {
  color: var(--color-segundario);
}

.text-somos ul {
  display: grid;
  gap: 12px;
}

@media (max-width: 500px) {
  .missaoEvissao .font-1-xxl {
    font-size: 3rem;
  }

  .missaoEvissao {
    padding: 60px 20px;
  }
}
