footer {
  background-color: #1f291d;
  padding: 40px 100px;
  color: #fff;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: #807b7b;
}

.conteudo-footer {
  display: grid;
  grid-template-columns: 1.5fr 1fr auto;
}

.conteudo-footer h2 {
  font-size: 3.5rem;
  position: relative;
}

.conteudo-footer h2::after {
  content: " ";
  display: block;
  height: 100px;
  width: 100px;
  position: absolute;
  background-image: url(../../img/Double\ Up.png);
  background-repeat: no-repeat;
  background-position: right;
  left: 292px;
  top: -76px;
}

.contato-meios h3,
.contato-redes h3 {
  margin-bottom: 8px;
}

.contato-meios li,
.contato-redes li {
  padding: 4px 0;
}

.contato-redes {
  margin-bottom: 4px;
}

.meios {
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 20px;
  padding-top: 40px;
}

.meios ul {
  margin-left: 0;
}

.qr-code {
  max-width: 200px;
  display: grid;
  justify-items: center;
  align-items: end;
}

.qr-code p {
  text-align: center;
  margin: 0;
  padding: 0;
  padding-bottom: 12px;
}


@media (max-width:1220px) {
  .conteudo-footer{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  .conteudo-footer h2 {
    grid-row: 2;
  }

  .qr-code{
    display: none;
  }
}

@media (max-width:1200px) {
  .card {
    width: 140px;
    justify-items: left;
    justify-content: left;
  }

  .meios{
    justify-content: right;
  }
}

@media (max-width:919px) {
  .conteudo-footer h2::after {
    left: -92px;
    top: -20px;
  }
  
}

@media (max-width:780px) {
  .conteudo-footer  {
    grid-template-columns: 1fr;
  }

  .meios{
    justify-content: left;
    grid-row: 2;
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }

  .conteudo-footer h2{
    grid-row: 3;
  }

  .contato-meios ul,
.contato-redes ul{
  padding-left: 0;
}
}