.header-bg {
  background-color: #121b10;
  padding: 14px 0;
}

.logo {
  margin-top: 15px;
}

nav {
  display: flex;
  place-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 60px;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  place-content: center;
  margin: 0 40px;
  gap: 20px;
}

nav li {
  padding: 12px 16px;
  color: var(--color-principal);
  font-size: 20px;
  position: relative;
}

.nav-list a {
  text-decoration: none;
  color: var(--color-principal);
}

.nav-list a::after {
  content: " ";
  width: 0%;
  height: 2px;
  background-color: #225217;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s ease-in-out;
}

.nav-list a:hover::after {
  width: 100%;
}

.mobile-li img {
  width: 28px;
  height: 28px;
  transform: rotate(90deg);
}

#entrar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  margin: 0;
}

#entrar a {
  text-decoration: none;
  color: var(--color-principal);
}

#btn-login {
  background-color: #234e19;
  border-radius: 8px;
  padding: 12px 28px;
}

.mobile-menu,
.mobile-menu-icon,
.li-list-mobile {
  display: none;
}

.mobile-menu-icon button {
  background-color: #1d3319;
  width: 52px;
  height: 40px;
  border-radius: 6px;
  border: none;
}

.mobile-menu {
  display: none;
  place-items: start;
  padding: 20px 40px;
  position: relative;
}

.mobile-menu ul {
  display: grid;
  gap: 6px;
}

.mobile-menu ul a {
  text-decoration: none;
  color: var(--color-principal);
}

#mobile-li::after {
  content: "";
  position: absolute;
  background: url(../../img/icones/seta-info.svg) no-repeat;
  width: 32px;
  height: 32px;
  left: 300px;
  top: 152px;
  transform: rotate(90deg);
}

#mobile-li span {
  cursor: pointer;
}

#entrar-mobile {
  display: flex;
  gap: 12px;
  border-top: 1px solid #858585;
  width: 100%;
  padding-top: 14px;
}

.drop-down {
  display: none;
  padding-top: 6px;
  padding-left: 20px;
  gap: 8px;
}

@media (max-width: 1500px) {
  .nav-list,
  #entrar {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }

  .mobile-menu {
    padding: 20px 60px 20px 20px;
  }

  .mobile-menu > ul {
    padding: 0 48px;
  }

  #mobile-li::after {
    left: 240px;
    top: 152px;
  }
}

@media (max-width: 1200px) {
  #mobile-li::after {
    left: 190px;
    top: 120px;
  }
}

@media (max-width: 800px) {
  nav {
    margin: 0 44px;
  }

  .mobile-menu {
    padding: 20px 28px 20px 4px;
  }

  #mobile-li::after {
    left: 170px;
    top: 120px;
  }
}

@media (max-width: 600px) {
  nav {
    margin: 0 40px;
  }
}

@media (max-width: 400px) {
  nav {
    margin: 0 14px;
  }

  .mobile-menu {
    padding: 20px 28px 0px 14px;
  }

  .mobile-menu > ul {
    padding-left: 8px;
  }

  #mobile-li::after {
    left: 150px;
    top: 120px;
  }
}
