.infos-container {
  padding: 160px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container-video {
  max-width: 1050px;
  min-width: 400px;
  padding-left: 60px;
}

.video-caixa {
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;
}

.video-caixa video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.infos-bg {
  display: grid;
  width: 100%;
}

.infos-textos {
  display: grid;
  align-content: center;
  max-width: 500px;
  padding: 70px 16px 30px 16px;
  padding-left: 30px;
  background-color: var(--bg-infos);
  box-shadow: inset 0 24px #485746, inset 0 -0px #485746;
}

.infos-textos p {
  color: var(--color-principal);
  font-size: 1.4rem;
  margin: 0;
  position: relative;
  padding-left: 20px;
}

.infos-textos p::before {
  content: "";
  position: absolute;
  background: url(../../img/icones/seta-info.svg) no-repeat;
  width: 32px;
  height: 32px;
  left: -14px;
  top: 8px;
  transform: translateX(0%);
  transition: 0.2s linear;
  animation: attention 1.2s linear infinite;
}

@keyframes attention {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(10%);
  }
}

@media (max-width: 1200px) {
  .infos-textos {
    padding: 40px 16px 8px 20px;
  }
}

@media (max-width: 1000px) {
  .infos-container {
    grid-template-columns: 1fr;
    padding: 100px 40px;
  }

  .infos-bg {
    max-width: 94%;
  }

  .infos-textos {
    box-shadow: none;
    align-content: center;
    max-width: 100%;
  }

  .infos-textos{
   justify-items: center;
  }

  .infos-textos p {
    max-width: 40ch;
  }
}

@media (max-width: 500px) { 
  .infos-bg {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
  .infos-textos {
    margin-left: 10px;
    padding: 20px 40px;
  }
  
  .infos-container {
    padding: 100px 10px;
  }

  .video-caixa {
    padding-bottom: 56.25%;
  }

  .container-video {
    max-width: 1050px;
    min-width: 200px;
    padding-left: 10px;
  }
}